# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# env
.env

#cursor
.cursorrules

# IDE
.idea/
.vscode/
*.swp
*.swo

# build
build/

# Temporary files
*.log
.tmp/
tmp/

# Expo OTA updates
.expo-shared/

# Android/IntelliJ
android/.gradle
android/captures/
android/local.properties
android/app/release/

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata
